@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewBag.Title = "Anasayfa";
}
<header class="relative z-10 bg-white shadow">
    <div class="flex items-center gap-1 px-4 py-3">
        <img src="~/src/logo.png" class="h-8 w-8" />
        <span class="text-xl font-bold tracking-tight">
            BayMobil
        </span>
    </div>

</header>

<div class="w-full bg-gray-100 px-6 py-6">

    <div class="grid grid-cols-2 gap-4 sm:grid-cols-4 lg:grid-cols-6">

        <!-- CARD -->
        <a tabindex="0" role="button" class="flex flex-col items-center justify-center gap-2 rounded-xl border border-gray-200
            bg-white px-6 py-6 pr-10 pl-10 text-center shadow-sm
            transition hover:bg-gray-100 focus:bg-gray-200 focus:ring-2
            focus:ring-blue-300 focus:outline-none">
            <img src="~/icons/anasayfa/satis.svg" class="h-8 w-8 opacity-80" />
            <span class="text-xs font-normal sm:text-sm md:text-md">Satış Siparişi</span>
        </a>

        <a tabindex="0" role="button" class="flex flex-col items-center justify-center gap-2 rounded-xl border border-gray-200
            bg-white px-6 py-6 pr-10 pl-10 text-center shadow-sm
            transition hover:bg-gray-100 focus:bg-gray-200 focus:ring-2
            focus:ring-blue-300 focus:outline-none">
            <img src="~/icons/anasayfa/muhasebe.svg" class="h-8 w-8 opacity-80" />
            <span class="text-xs font-normal sm:text-sm md:text-md">Muh. Sipariş</span>
        </a>

        <a tabindex="0" role="button" class="flex flex-col items-center justify-center gap-2 rounded-xl border border-gray-200
            bg-white px-6 py-6 pr-10 pl-10 text-center shadow-sm
            transition hover:bg-gray-100 focus:bg-gray-200 focus:ring-2
            focus:ring-blue-300 focus:outline-none">
            <img src="~/icons/anasayfa/cari-ekle.svg" class="h-8 w-8 opacity-80" />
            <span class="text-xs font-normal sm:text-sm md:text-md">Cari Ekle</span>
        </a>

        <a tabindex="0" role="button" class="flex flex-col items-center justify-center gap-2 rounded-xl border border-gray-200
            bg-white px-6 py-6 pr-10 pl-10 text-center shadow-sm
            transition hover:bg-gray-100 focus:bg-gray-200 focus:ring-2
            focus:ring-blue-300 focus:outline-none">
            <img src="~/icons/anasayfa/fatura.svg" class="h-8 w-8 opacity-80" />
            <span class="text-xs font-normal sm:text-sm md:text-md">Satış Fatura</span>
        </a>

         <a tabindex="0" role="button" class="flex flex-col items-center justify-center gap-2 rounded-xl border border-gray-200
            bg-white px-6 py-6 pr-10 pl-10 text-center shadow-sm
            transition hover:bg-gray-100 focus:bg-gray-200 focus:ring-2
            focus:ring-blue-300 focus:outline-none">
            <img src="~/icons/anasayfa/sayim.svg" class="h-8 w-8 opacity-80" />
            <span class="text-xs font-normal sm:text-sm md:text-md">Sayım</span>
        </a>

        <a tabindex="0" role="button" class="flex flex-col items-center justify-center gap-2 rounded-xl border border-gray-200
            bg-white px-6 py-6 pr-10 pl-10 text-center shadow-sm
            transition hover:bg-gray-100 focus:bg-gray-200 focus:ring-2
            focus:ring-blue-300 focus:outline-none">
            <img src="~/icons/anasayfa/cari-durum.svg" class="h-8 w-8 opacity-80" />
            <span class="text-xs font-normal sm:text-sm md:text-md">Cari Durumu</span>
        </a>

        <a tabindex="0" role="button" class="flex flex-col items-center justify-center gap-2 rounded-xl border border-gray-200
            bg-white px-6 py-6 pr-10 pl-10 text-center shadow-sm
            transition hover:bg-gray-100 focus:bg-gray-200 focus:ring-2
            focus:ring-blue-300 focus:outline-none">
            <img src="~/icons/anasayfa/hareketsiz.svg" class="h-8 w-8 opacity-80" />
            <span class="text-xs font-normal sm:text-sm md:text-md">Hareketsiz Cariler</span>
        </a>

        <a tabindex="0" role="button" class="flex flex-col items-center justify-center gap-2 rounded-xl border border-gray-200
            bg-white px-6 py-6 pr-10 pl-10 text-center shadow-sm
            transition hover:bg-gray-100 focus:bg-gray-200 focus:ring-2
            focus:ring-blue-300 focus:outline-none">
            <img src="~/icons/anasayfa/iade.svg" class="h-8 w-8 opacity-80" />
            <span class="text-xs font-normal sm:text-sm md:text-md">Satış İade</span>
        </a>

        <a tabindex="0" role="button" class="flex flex-col items-center justify-center gap-2 rounded-xl border border-gray-200
            bg-white px-6 py-6 pr-10 pl-10 text-center shadow-sm
            transition hover:bg-gray-100 focus:bg-gray-200 focus:ring-2
            focus:ring-blue-300 focus:outline-none">
            <img src="~/icons/anasayfa/barkod.svg" class="h-8 w-8 opacity-80" />
            <span class="text-xs font-normal sm:text-sm md:text-md">Barkod Kaydet</span>
        </a>

        <a tabindex="0" role="button" class="flex flex-col items-center justify-center gap-2 rounded-xl border border-gray-200
            bg-white px-6 py-6 pr-10 pl-10 text-center shadow-sm
            transition hover:bg-gray-100 focus:bg-gray-200 focus:ring-2
            focus:ring-blue-300 focus:outline-none">
            <img src="~/icons/anasayfa/bekleyen.svg" class="h-8 w-8 opacity-80" />
            <span class="text-xs font-normal sm:text-sm md:text-md">Bekleyenler</span>
        </a>
        
        <a tabindex="0" role="button" class="flex flex-col items-center justify-center gap-2 rounded-xl border border-gray-200
            bg-white px-6 py-6 pr-10 pl-10 text-center shadow-sm
            transition hover:bg-gray-100 focus:bg-gray-200 focus:ring-2
            focus:ring-blue-300 focus:outline-none">
            <img src="~/icons/anasayfa/urun.svg" class="h-8 w-8 opacity-80" />
            <span class="text-xs font-normal sm:text-sm md:text-md">Ürün Bilgisi</span>
        </a>

        <a tabindex="0" role="button" tabindex="0" role="button"class="flex flex-col items-center justify-center gap-2 rounded-xl border border-gray-200
            bg-white px-6 py-6 pr-10 pl-10 text-center shadow-sm
            transition hover:bg-gray-100 focus:bg-gray-200 focus:ring-2
            focus:ring-blue-300 focus:outline-none">
            <img src="~/icons/anasayfa/recovery.svg" class="h-8 w-8 opacity-80" />
            <span class="text-xs font-normal sm:text-sm md:text-md">Recovery</span>
        </a>

    </div>
</div>
