@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewBag.Title = "Siparis Liste";
}
<div class="mx-auto min-h-screen w-full bg-gray-100">
    <div class="grid grid-cols-2 gap-3 p-3">
        <button id="btnBack"
                class="flex flex-col items-center justify-center gap-1 rounded-lg border-none bg-red-600 p-1
            py-1 font-medium text-white transition hover:bg-red-700
                    active:scale-110 active:bg-red-800">
            <img src="/icons/house.svg" class="h-6 w-6" />
            Geri Dön
        </button>

        <button id="btnBack"
                class="flex flex-col items-center justify-center gap-1 rounded-lg border-none bg-green-600 p-1
            py-1 font-medium text-white transition hover:bg-green-700
                    active:scale-110 active:bg-green-800">
            <img src="/icons/circle-plus.svg" class="h-6 w-6" />
            Yeni İşlem
        </button>
    </div>

    <div class="w-full space-y-3 bg-gray-100 px-4 py-1">
        <div class="relative flex items-center bg-white py-1 shadow-md">
            <div class="absolute top-0 left-0 h-full w-2 bg-blue-500"></div>
            <!-- tarih -->
            <div class="ml-6 w-14 text-center">
                <div class="text-2xl font-bold text-gray-800">2</div>
                <div class="text-xs text-gray-500">Şubat</div>
            </div>
            <!-- müşteri -->
            <div class="flex-1 self-start px-3 pt-1">
                <div class="text-base font-medium text-blue-600 hover:text-blue-700 hover:underline active:text-blue-800">
                    <span>BERSHKA BAŞAKŞEHİR </span> - <span>SP000017</span>
                </div>
            </div>
            <!-- tutar -->
            <div class="mr-4 text-right text-base font-semibold text-blue-600">
                3.600,00
            </div>
        </div>
    </div>

    <div class="w-full space-y-3 bg-gray-100 px-4 py-1">
        <div class="relative flex items-center bg-white py-1 shadow-md">
            <div class="absolute top-0 left-0 h-full w-2 bg-orange-500"></div>
            <!-- tarih -->
            <div class="ml-6 w-14 text-center">
                <div class="text-2xl font-bold text-gray-800">21</div>
                <div class="text-xs text-gray-500">Ocak</div>
            </div>
            <!-- müşteri -->
            <div class="flex-1 self-start px-3 pt-1">
                <div class="text-base font-medium text-blue-600 hover:text-blue-700 hover:underline active:text-blue-800">
                    <span>BERSHKA BAŞAKŞEHİR </span> - <span>SP000016</span>
                </div>
            </div>
            <!-- tutar -->
            <div class="mr-4 text-right text-base font-semibold text-blue-600">
                33.600,00
            </div>
        </div>
    </div>

    <div class="w-full space-y-3 bg-gray-100 px-4 py-1">
        <div class="relative flex items-center bg-white py-1 shadow-md">
            <div class="absolute top-0 left-0 h-full w-2 bg-blue-500"></div>
            <!-- tarih -->
            <div class="ml-6 w-14 text-center">
                <div class="text-2xl font-bold text-gray-800">2</div>
                <div class="text-xs text-gray-500">Şubat</div>
            </div>
            <!-- müşteri -->
            <div class="flex-1 self-start px-3 pt-1">
                <div class="text-base font-medium text-blue-600 hover:text-blue-700 hover:underline active:text-blue-800">
                    <span>DOLCE GABBANA BEŞİKTAŞ </span> - <span>SP000015</span>
                </div>
            </div>
            <!-- tutar -->
            <div class="mr-4 text-right text-base font-semibold text-blue-600">
                900,00
            </div>
        </div>
    </div>

    <div class="w-full space-y-3 bg-gray-100 px-4 py-1">
        <div class="relative flex items-center bg-white py-1 shadow-md">
            <div class="absolute top-0 left-0 h-full w-2 bg-orange-500"></div>
            <!-- tarih -->
            <div class="ml-6 w-14 text-center">
                <div class="text-2xl font-bold text-gray-800">21</div>
                <div class="text-xs text-gray-500">Ocak</div>
            </div>
            <!-- müşteri -->
            <div class="flex-1 self-start px-3 pt-1">
                <div class="text-base font-medium text-blue-600 hover:text-blue-700 hover:underline active:text-blue-800">
                    <span>LACOSTE BEYOĞLU </span> - <span>SP000014</span>
                </div>
            </div>
            <!-- tutar -->
            <div class="mr-4 text-right text-base font-semibold text-blue-600">
                554,40
            </div>
        </div>
    </div>

    <div class="w-full space-y-3 bg-gray-100 px-4 py-1">
        <div class="relative flex items-center bg-white py-1 shadow-md">
            <div class="absolute top-0 left-0 h-full w-2 bg-blue-500"></div>
            <!-- tarih -->
            <div class="ml-6 w-14 text-center">
                <div class="text-2xl font-bold text-gray-800">2</div>
                <div class="text-xs text-gray-500">Şubat</div>
            </div>
            <!-- müşteri -->
            <div class="flex-1 self-start px-3 pt-1">
                <div class="text-base font-medium text-blue-600 hover:text-blue-700 hover:underline active:text-blue-800">
                    <span>NİKE SHOWROOM ESENLER </span> - <span>SP000013</span>
                </div>
            </div>
            <!-- tutar -->
            <div class="mr-4 text-right text-base font-semibold text-blue-600">
                740,00
            </div>
        </div>
    </div>

    <div class="w-full space-y-3 bg-gray-100 px-4 py-1">
        <div class="relative flex items-center bg-white py-1 shadow-md">
            <div class="absolute top-0 left-0 h-full w-2 bg-orange-500"></div>
            <!-- tarih -->
            <div class="ml-6 w-14 text-center">
                <div class="text-2xl font-bold text-gray-800">21</div>
                <div class="text-xs text-gray-500">Ocak</div>
            </div>
            <!-- müşteri -->
            <div class="flex-1 self-start px-3 pt-1">
                <div class="text-base font-medium text-blue-600 hover:text-blue-700 hover:underline active:text-blue-800">
                    <span>ADİDAS BAĞCILAR </span> - <span>SP000012</span>
                </div>
            </div>
            <!-- tutar -->
            <div class="mr-4 text-right text-base font-semibold text-blue-600">
                3.429,50
            </div>
        </div>
    </div>










</div>