@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewBag.Title = "Ürün Liste";
}
<div class="mx-auto min-h-screen w-full bg-white">
    <div class="flex flex-row items-end gap-5 p-3">
        <button id="btnBack"
                class="flex h-16 w-1/3 flex-col items-center justify-center gap-1 rounded-lg border-none bg-red-600 p-1
            py-1 font-normal text-white transition hover:bg-red-700
                    active:scale-110 active:bg-red-800">
            <img src="/icons/angles-left.svg" class="h-6 w-6" />
            Geri Dön
        </button>

        <input id="username"
               type="text"
               placeholder="ürün arayin"
               class="h-12 w-3/6 rounded-md border border-gray-200 bg-white px-2 py-1 text-lg font-medium transition placeholder:font-medium placeholder:text-gray-400 hover:bg-blue-50 hover:ring-1 hover:ring-blue-400 focus:border-blue-500
                focus:bg-blue-100 focus:ring-2 focus:ring-blue-600 focus:outline-none" />

        <button class="h-12 w-1/6 rounded-md bg-yellow-500 pr-4 pl-4 text-center text-lg
                text-black transition hover:bg-yellow-600 focus:bg-yellow-700 focus:ring-2
                focus:ring-yellow-600 focus:outline-none">
            Ara
        </button>
    </div>

    <hr class="mt-2 border-b border-gray-300" />
    
    <div class="mx-4 my-2 flex w-full flex-row items-center justify-between border-b border-gray-300 bg-white transition hover:bg-gray-100">
        <div class="flex flex-col gap-0">
            <span id="urunKodu" class="text-sm text-gray-600">TENCERE-01</span>
            <span id="urunAdi" class="text-lg font-semibold text-blue-500
                hover:text-blue-600 hover:underline focus:text-blue-700">Indiksiyon tabanli 13 parca set</span>
            <div class="text-md flex flex-row gap-1">
                <label>Fiyat: </label> <span> 650,00 ₺ </span>
            </div>
            <div class="text-md flex flex-row gap-1">
                <label>Stok: </label> <span> 10 </span>
            </div>
        </div>
        <div class="mt-2 mr-6 flex flex-col items-center gap-1 self-start">
            <div class="text-md flex flex-row gap-1"><label>Koli içi: </label> <span> 5 </span></div>
            <input id="username"
                   type="text"
                   placeholder="0"
                   class="h-12 w-40 rounded-md border border-gray-200 bg-white px-2 py-1 text-lg font-medium transition placeholder:font-medium placeholder:text-gray-400 hover:bg-blue-50 hover:ring-1 hover:ring-blue-400 focus:border-blue-500 focus:bg-blue-100 focus:ring-2
                focus:ring-blue-600 focus:outline-none md:w-70 lg:w-100" />
        </div>
    </div>

    <div class="mx-4 my-2 flex w-full flex-row items-center justify-between border-b border-gray-300 bg-white transition hover:bg-gray-100">
        <div class="flex flex-col gap-0">
            <span id="urunKodu" class="text-sm text-gray-600">TENCERE-02</span>
            <span id="urunAdi" class="text-lg font-semibold text-blue-500
                hover:text-blue-600 hover:underline focus:text-blue-700">
            7 parça Tencere Seti</span>
            <div class="text-md flex flex-row gap-1">
                <label>Fiyat: </label> <span> 700,00 ₺ </span>
            </div>
            <div class="text-md flex flex-row gap-1">
                <label>Stok: </label> <span> 1 </span>
            </div>
        </div>
        <div class="mt-2 mr-6 flex flex-col items-center gap-1 self-start">
            <div class="text-md flex flex-row gap-1"><label>Koli içi: </label> <span> 7 </span></div>
            <input id="username"
                   type="text"
                   placeholder="0"
                   class="h-12 w-40 rounded-md border border-gray-200 bg-white px-2 py-1 text-lg font-medium transition placeholder:font-medium placeholder:text-gray-400 hover:bg-blue-50 hover:ring-1 hover:ring-blue-400 focus:border-blue-500 focus:bg-blue-100 focus:ring-2
                focus:ring-blue-600 focus:outline-none md:w-70 lg:w-100" />
        </div>
    </div>
    <div class="mx-4 my-2 flex w-full flex-row items-center justify-between border-b border-gray-300 bg-white transition hover:bg-gray-100">
        <div class="flex flex-col gap-0">
            <span id="urunKodu" class="text-sm text-gray-600">TENCERE-03</span>
            <span id="urunAdi" class="text-lg font-semibold text-blue-500
                hover:text-blue-600 hover:underline focus:text-blue-700">
                8 parça Tencere Seti
            </span>
            <div class="text-md flex flex-row gap-1">
                <label>Fiyat: </label> <span> 400,00 ₺ </span>
            </div>
            <div class="text-md flex flex-row gap-1">
                <label>Stok: </label> <span> 90 </span>
            </div>
        </div>
        <div class="mt-2 mr-6 flex flex-col items-center gap-1 self-start">
            <div class="text-md flex flex-row gap-1"><label>Koli içi: </label> <span> 8 </span></div>
            <input id="username"
                   type="text"
                   placeholder="0"
                   class="h-12 w-40 rounded-md border border-gray-200 bg-white px-2 py-1 text-lg font-medium transition placeholder:font-medium placeholder:text-gray-400 hover:bg-blue-50 hover:ring-1 hover:ring-blue-400 focus:border-blue-500 focus:bg-blue-100 focus:ring-2
                focus:ring-blue-600 focus:outline-none md:w-70 lg:w-100" />
        </div>
    </div>

    <div class="mx-4 my-2 flex w-full flex-row items-center justify-between border-b border-gray-300 bg-white transition hover:bg-gray-100">
        <div class="flex flex-col gap-0">
            <span id="urunKodu" class="text-sm text-gray-600">TENCERE-04</span>
            <span id="urunAdi" class="text-lg font-semibold text-blue-500
                hover:text-blue-600 hover:underline focus:text-blue-700">
            Granit Tava</span>
            <div class="text-md flex flex-row gap-1">
                <label>Fiyat: </label> <span> 250,00 ₺ </span>
            </div>
            <div class="text-md flex flex-row gap-1">
                <label>Stok: </label> <span> -4 </span>
            </div>
        </div>
        <div class="mt-2 mr-6 flex flex-col items-center gap-1 self-start">
            <div class="text-md flex flex-row gap-1"><label>Koli içi: </label> <span> 1 </span></div>
            <input id="username"
                   type="text"
                   placeholder="0"
                   class="h-12 w-40 rounded-md border border-gray-200 bg-white px-2 py-1 text-lg font-medium transition placeholder:font-medium placeholder:text-gray-400 hover:bg-blue-50 hover:ring-1 hover:ring-blue-400 focus:border-blue-500 focus:bg-blue-100 focus:ring-2
                focus:ring-blue-600 focus:outline-none md:w-70 lg:w-100" />
        </div>
    </div>

    <div class="mx-4 my-2 flex w-full flex-row items-center justify-between border-b border-gray-300 bg-white transition hover:bg-gray-100">
        <div class="flex flex-col gap-0">
            <span id="urunKodu" class="text-sm text-gray-600">TENCERE-05</span>
            <span id="urunAdi" class="text-lg font-semibold text-blue-500
                hover:text-blue-600 hover:underline focus:text-blue-700">
            6 Parça Kırmızı Tencere Seti</span>
            <div class="text-md flex flex-row gap-1">
                <label>Fiyat: </label> <span> 370,00 ₺ </span>
            </div>
            <div class="text-md flex flex-row gap-1">
                <label>Stok: </label> <span> -1 </span>
            </div>
        </div>
        <div class="mt-2 mr-6 flex flex-col items-center gap-1 self-start">
            <div class="text-md flex flex-row gap-1"><label>Koli içi: </label> <span> 1 </span></div>
            <input id="username"
                   type="text"
                   placeholder="0"
                   class="h-12 w-40 rounded-md border border-gray-200 bg-white px-2 py-1 text-lg font-medium transition placeholder:font-medium placeholder:text-gray-400 hover:bg-blue-50 hover:ring-1 hover:ring-blue-400 focus:border-blue-500 focus:bg-blue-100 focus:ring-2
                focus:ring-blue-600 focus:outline-none md:w-70 lg:w-100" />
        </div>
    </div>

    <div class="mx-4 my-2 flex w-full flex-row items-center justify-between border-b border-gray-300 bg-white transition hover:bg-gray-100">
        <div class="flex flex-col gap-0">
            <span id="urunKodu" class="text-sm text-gray-600">TENCERE-06</span>
            <span id="urunAdi" class="text-lg font-semibold text-blue-500
                hover:text-blue-600 hover:underline focus:text-blue-700">
            7 Parça Tencere Seti Mavi</span>
            <div class="text-md flex flex-row gap-1">
                <label>Fiyat: </label> <span> 800,00 ₺ </span>
            </div>
            <div class="text-md flex flex-row gap-1">
                <label>Stok: </label> <span> 20 </span>
            </div>
        </div>
        <div class="mt-2 mr-6 flex flex-col items-center gap-1 self-start">
            <div class="text-md flex flex-row gap-1"><label>Koli içi: </label> <span> 7 </span></div>
            <input id="username"
                   type="text"
                   placeholder="0"
                   class="h-12 w-40 rounded-md border border-gray-200 bg-white px-2 py-1 text-lg font-medium transition placeholder:font-medium placeholder:text-gray-400 hover:bg-blue-50 hover:ring-1 hover:ring-blue-400 focus:border-blue-500 focus:bg-blue-100 focus:ring-2
                focus:ring-blue-600 focus:outline-none md:w-70 lg:w-100" />
        </div>
    </div>

    <div class="mx-4 my-2 flex w-full flex-row items-center justify-between border-b border-gray-300 bg-white transition hover:bg-gray-100">
        <div class="flex flex-col gap-0">
            <span id="urunKodu" class="text-sm text-gray-600">TENCERE-07</span>
            <span id="urunAdi" class="text-lg font-semibold text-blue-500
                hover:text-blue-600 hover:underline focus:text-blue-700">
                13 Parça Tencere Seti Pembe
            </span>
            <div class="text-md flex flex-row gap-1">
                <label>Fiyat: </label> <span> 700,00 ₺ </span>
            </div>
            <div class="text-md flex flex-row gap-1">
                <label>Stok: </label> <span> 228 </span>
            </div>
        </div>
        <div class="mt-2 mr-6 flex flex-col items-center gap-1 self-start">
            <div class="text-md flex flex-row gap-1"><label>Koli içi: </label> <span> 13 </span></div>
            <input id="username"
                   type="text"
                   placeholder="0"
                   class="h-12 w-40 rounded-md border border-gray-200 bg-white px-2 py-1 text-lg font-medium transition placeholder:font-medium placeholder:text-gray-400 hover:bg-blue-50 hover:ring-1 hover:ring-blue-400 focus:border-blue-500 focus:bg-blue-100 focus:ring-2
                focus:ring-blue-600 focus:outline-none md:w-70 lg:w-100" />
        </div>
    </div>

    <div class="mx-4 my-2 flex w-full flex-row items-center justify-between border-b border-gray-300 bg-white transition hover:bg-gray-100">
        <div class="flex flex-col gap-0">
            <span id="urunKodu" class="text-sm text-gray-600">TENCERE-08</span>
            <span id="urunAdi" class="text-lg font-semibold text-blue-500
                hover:text-blue-600 hover:underline focus:text-blue-700">
                İndüksiyon Tabanlı 6 Parça Çelik Tencere Seti Mavi
            </span>
            <div class="text-md flex flex-row gap-1">
                <label>Fiyat: </label> <span> 350,00 ₺ </span>
            </div>
            <div class="text-md flex flex-row gap-1">
                <label>Stok: </label> <span> 1 </span>
            </div>
        </div>
        <div class="mt-2 mr-6 flex flex-col items-center gap-1 self-start">
            <div class="text-md flex flex-row gap-1"><label>Koli içi: </label> <span> 6 </span></div>
            <input id="username"
                   type="text"
                   placeholder="0"
                   class="h-12 w-40 rounded-md border border-gray-200 bg-white px-2 py-1 text-lg font-medium transition placeholder:font-medium placeholder:text-gray-400 hover:bg-blue-50 hover:ring-1 hover:ring-blue-400 focus:border-blue-500 focus:bg-blue-100 focus:ring-2
                focus:ring-blue-600 focus:outline-none md:w-70 lg:w-100" />
        </div>
    </div>

   








</div>

<script>
        $(document).ready(function () {
        $("#btnBack").on("click", function () {
            window.history.back();
        });
    });

</script>